[2013-08-04 00:16] SimonCropp opened #13 "Create a nuget package"

[2014-04-17 14:42] ivantodorovich opened #17 "CLI Interface"
Hi,

Do you know any projects that implements a CLI interface to this lib?

Specifically, I need to replace an app existing icon using command line, and I need the executable to be as small as possible.

[2014-06-08 12:17] uholeschak opened #19 "Modify resource of wixtoolset Setup.exe destroys executable"
Hello,
I tried to modify the version resource of a Setup.exe created by the wixtoolset burn engine. (http://wixtoolset.org/). This execuable has a cab file included.
After the resource modification operation the Setup.exe is very much smaller than the original one and it's impossible to execute it. Additionally the included cab file is destroyed.
Is RescoureLib only working with DLL files?
Ulrich

[2014-08-10 08:36] CreateAndInject opened #20 "It seems that it can not resolve icons."
var file = Path.Combine(Environment.GetFolderPath(Environment.SpecialFolder.Windows), "explorer.exe");

ResourceInfo info = new ResourceInfo();
info.Load(file);
var res= info[Kernel32.ResourceTypes.RT_ICON];//res has so many icons, but their type is GenericResource not IconResource, so I can not save it as .ico file.

IconResource icon = new IconResource();
icon.LoadFrom(file);// throw exception

[2014-10-27 13:08] FantasticFiasco opened #22 "Working on WPF assemblies as well?"
I wonder whether your library works on WPF applications binaries as well? I am able to run your unit tests, but as soon as I redirect the file path to one of my own assemblies, the resources doesn't seem to be persisted. No exceptions are thrown, but the information doesn't change in File Explorer Properties.

[2015-03-03 14:00] Nozziel opened #27 "OverflowException when build and run as native x64"
various calls that use IntPtr do conversions to .ToInt32() now throw OverflowExceptions.

for example:
return new IntPtr(lpRes.ToInt32() + _header.Header.wLength);

Solution A
replace the .ToInt32() to .ToInt64() but this might slow down certain calls on x86
return new IntPtr(lpRes.ToInt64() + _header.Header.wLength);

Solution B
Most of the time it concerns IntPtr addition, in .Net 4 you can also

[2015-03-03 14:14] Nozziel commented on #27
It appears most of these issues have already been addressed in #10 but these are not yet release in the current download v1.4

issue #10: https://github.com/dblock/resourcelib/issues/10

[2015-03-03 16:29] dblock commented on #27
@icnocop Maybe you can cut a release after #26 is merged? I will eventually get to this too.

[2015-03-03 16:30] dblock commented on #27
@Nozziel When you say "most", are there issues you're seeing that are still present? Would love fixes/PRs/tests.

[2015-03-04 08:40] Nozziel commented on #27
Yeah, I wrote most; I only use VersionResource class, so I only tested that but I did some further investigation and it seems all IntPtr.ToInt32() have been changed to ToInt64() :+1:

[2015-03-04 08:40] #27 closed

[2015-03-23 22:39] kalpalkeeper opened #28 "Save StringResource crashing"
Replacing a string in a .dll file.. IE: (String Table, 1, 1033, 10 "TEST"

Code:
 string filename = AppDomain.CurrentDomain.BaseDirectory + "basebrd.dll.mui";
                TakeOwn(filename);
                StringResource sr = new StringResource();
                sr.Name = new ResourceId(StringResource.GetBlockId(10));
                sr.LoadFrom(filename);
                sr[10] = "TEST";

[2015-03-24 10:52] dblock commented on #28
There must be something in that resource that isn't working. The [test here](https://github.com/dblock/resourcelib/blob/64ce9125ff18c71a8a28492b0681c85f2502227a/Source/ResourceLibUnitTests/StringResourceTests.cs#L47) works, you'll have to dig through it :(

[2015-03-24 21:53] kalpalkeeper commented on #28
Thanks for quick reply dblock. I will give it a shot. :)

[2015-06-25 14:09] triumphan opened #29 "Bitmap & Icongroup crashing"
BitmapResource bitmapResource = new BitmapResource();
            using (ResourceInfo targetFilenameResources = new ResourceInfo())
            {
                targetFilenameResources.Load("explorer.exe");
                Resource existingBitmapResource = targetFilenameResources[Kernel32.ResourceTypes.RT_BITMAP][0];
                bitmapResource.Name = existingBitmapResource.Name;

[2015-06-25 14:14] dblock commented on #29
This should work, try to build a test case for this.

[2015-06-25 18:05] triumphan commented on #29
No, it doesn't work. I think is because the .MUI file has to be removed before adding / replacing resources. By the way, do you have any idea of how to add a .BIN file to a PE?

[2015-06-26 00:55] triumphan commented on #29
I meant MUI directory which includes a .BIN file inside.

[2015-06-26 13:38] dblock commented on #29
This is a bit beyond my knowledge of MUI :) Care to explain? Something ResourceLib should do? (feel free to contribute).

[2015-06-26 17:02] triumphan commented on #29
MUI is a directory resource which almost all Windows System files like explorer.exe, imageres.dll.. contains. This is an important resource because there is which is stored the language of those system fileMUI is a directory resource which almost all Windows System files like explorer.exe, imageres.dll.. contains. This is an important resource because there is stored the language of those system f

[2015-06-26 17:04] triumphan commented on #29
Ups, I pasted some text accidentally. Sorry haha

[2015-08-05 21:58] nadcraker commented on #19
I am having this same exact issue using this library on an .exe that I created with the 7-zip 7zsd.sfx module.

The file size goes from 900kb to 111kb and the .exe is corrupt and will not run.

[2015-08-05 22:50] nadcraker commented on #19
I solved the issue for myself by changing the resources on 7zsd.sfx BEFORE combining it with my archive, not on the resulting .exe file.

[2015-08-27 15:32] hungncv opened #30 "Can not change version info of exe file"
Dear all,
When I run sample source on help document to change version infor for a dll file (ex: C:\demo.dll),
i see that it was changed,
but if change file name to exe file ("C:\demo1.exe"), it could not changed.
Have got anyone tell me why ?
Can Resourcelib be change version infor for exe file ?
Pls help me.

[2015-08-27 16:03] dblock commented on #30
Yes, ResourceLib can definitely change resources in executables, so something odd is going on. Often it's a locale problem where the resource in one language is read and another is written or something like that. It could be other things too. I suggest you compare the resources in the before and after versions and see what ResourceLib wrote and what the difference is.

[2015-08-27 16:13] hungncv commented on #30
Thank for your answer !
Sorry for my mistake. Executable file did i used to try can be wrong. I replaced other files and they have been changed correctly.

[2015-08-27 16:24] dblock commented on #30
I'll close this. If you have a case where the written data is wrong into your executable, do open a bug.

[2015-08-27 16:24] #30 closed

[2015-08-28 15:43] hungncv commented on #30
Sorry, could you guide me how to change version information of exe which is created by .NET ( .NET assemblies). I've changed to ResourceUtil.NEUTRALLANGID in my source code but nothing changed.

Regards

[2015-08-28 16:59] dblock commented on #30
I don't think there's anything special about .NET assemblies.

[2015-08-28 17:28] hungncv commented on #30
Thank you. I found solution for my issue.

[2016-01-31 16:07] #17 closed

[2016-03-10 21:48] #13 closed

[2016-03-26 23:17] thoemmi commented on #28
@kalpalkeeper is this still an issue?

[2016-03-26 23:35] thoemmi commented on #20
@CreateAndInject I guess you want to get the **Icon Groups** from `explorer.exe`. Resource-wise an **icon** has a specific size and color depth. An **icon group** is a container for icons, generally combining the same icon in different sizes and/or color depth.
Following code *works on my machine*&trade;
[code]

[2016-03-27 13:21] dblock commented on #20
Lets close this, @CreateAndInject reopen if the above doesn't solve your problem.

[2016-03-27 13:21] #20 closed

[2016-03-28 19:15] thoemmi commented on #22
Version 1.5 should fix this issue.

[2016-03-28 19:15] #22 closed

[2016-03-29 02:57] CreateAndInject commented on #20
var file = Path.Combine(Environment.GetFolderPath(Environment.SpecialFolder.Windows), "explorer.exe");

ResourceInfo info = new ResourceInfo();
info.Load(file);
var resources = info[Kernel32.ResourceTypes.RT_GROUP_ICON];
foreach (var resource in resources)
{
    IconDirectoryResource icon = new IconDirectoryResource();
    icon.Language = resource.Language;
    icon.Name = resource.Name;
    icon.

[2016-03-29 03:00] CreateAndInject opened #36 "It seems that it can not resolve icons(not solve)."
var file = Path.Combine(Environment.GetFolderPath(Environment.SpecialFolder.Windows), "explorer.exe");

ResourceInfo info = new ResourceInfo();
info.Load(file);
var resources = info[Kernel32.ResourceTypes.RT_GROUP_ICON];
foreach (var resource in resources)
{
    IconDirectoryResource icon = new IconDirectoryResource();
    icon.Language = resource.Language;
    icon.Name = resource.Name;
    icon.

[2016-03-29 11:05] dblock commented on #20
What is the error? Same problem as above?

[2016-03-29 11:06] dblock commented on #36
What is the error?

[2016-03-29 11:16] thoemmi commented on #36
@CreateAndInject Currently there's no way to save *.ico* files. `IconImageResource.SaveIconTo` does not write *.ico* files but writes the icon as a resource to the existing PE file.

[2016-03-29 11:17] thoemmi commented on #20
I guess #36 is the follow-up.

[2016-03-30 03:44] CreateAndInject commented on #36
@dblock  The error is what thoemmi said, you can run my code and you can find what error.

[2016-03-30 07:10] thoemmi commented on #36
So it's not an error but a feature request :wink:

[2016-03-30 11:01] dblock commented on #36
I've renamed and re-labeled this as a feature request.

[2016-06-25 11:40] ljani opened #37 "Consider batching update operations"
The [current implementation](https://github.com/dblock/resourcelib/blob/e285e68c81a3fbb40e6c0f14fc89bf35a9dc4692/Source/ResourceLib/Resource.cs#L300-L311) seems to call `BeginUpdateResource` and `EndUpdateResource` for each `UpdateResource` call. At least I would prefer the "all-or-nothing" (transactional) approach:

- Call `BeginUpdateResource` once when eg. `ResourceInfo.Save` is called
- Make m

[2016-06-26 05:54] dblock commented on #37
This sounds reasonable.

[2016-06-30 06:19] ljani opened #38 "Resourcelib fails to parse Jetbrains' executables resources"
Feeding the (64-bit) executables from [Jetbrains'](https://www.jetbrains.com) tools (eg. [[1](https://www.jetbrains.com/webstorm/download/#section=windows-version)], [[2](https://www.jetbrains.com/datagrip/download/#section=windows-version)]) to ResourceLib fails with an exception:

[code]

[2016-06-30 09:00] dblock commented on #38
I would try to make a minimal repro in a test in this project and make a PR with it, to start.

[2016-06-30 14:48] ljani commented on #38
Sure thing. It seems that it's only the 64-bit executables that are failing (`idea.exe` was fine).

[2016-06-30 16:45] dblock commented on #38
Good, what's the layout of that ResourceInfo block? Now that you have a repro you should be able to debug/fix it :)

[2016-07-04 07:23] thoemmi commented on #38
I had a short look at the issue. For whatever reason resourcelib is not able to read a `StringFileInfo` section from that file. It seems to be related to padding, as the key for the resource is read as `\u0001StringFileInfo`. Unfortunately, I can't offer a solution at hand.

[2016-07-11 21:05] #37 closed

[2016-07-13 13:00] waqar2012 opened #42 "Unable to build the Wix Extensions"
ANy body have any wixExtensions latest dll that are compatible with VS2013. i am unable to build the WixExtenions dll. These are errors that i am getting

28>C:\Users\user\Downloads\msiext-master\msiext-master\src\WixExtensions\DataSourceExtension\wixlib\DataSourceExtension.wxs(8,0): warning CNDL1118: The variable 'SolutionDir' with value 'C:\Users\user\Downloads\msiext-master\msiext-master\src\Wi

[2016-07-13 13:17] dblock commented on #42
This is the resourcelib project, what does it have to do with wix extensions?

[2016-07-13 13:17] #42 closed

[2016-07-13 13:17] dblock commented on #42
Did you mean to open this in https://github.com/dblock/msiext?

[2016-07-13 15:05] waqar2012 commented on #42
Yes

Sent from my iPhone

[2016-07-13 15:06] waqar2012 commented on #42
I want to implement the database gui to load the servers in drop down list and its windows or sql authenticate
Regards
Waqar

Sent from my iPhone

[2016-07-13 15:44] thoemmi commented on #42
@waqar2012 This is the wrong repository! Go to https://github.com/dblock/msiext/issues and open an issue there.

[2016-07-28 13:52] LennartAJansson opened #43 "Issue when saving changed version strings"
I have a very simple scenario:
I have an exe that we are using for several environments, it's deployed with ClickOnce and due to that we need to make them unique so we could run several instances of the same application on one single client. So, I have a renamed exe and I need to rename the version strings too, I try following:

[code]
When I try to read the change with ResourceLib it shows my cha

[2016-07-28 14:48] thoemmi commented on #43
The default language for new `VersionResource` instances is [English](https://github.com/dblock/resourcelib/blob/master/Source/ResourceLib/VersionResource.cs#L66). When you call `LoadFrom`, Windows cannot find an English versioninfo, so it falls back to the default Neutral.  In other words, you've loaded the neutral versioninfo, patched it, and saved it as English.

Add `vr.Language = 0` to your c

[2016-07-28 14:58] LennartAJansson commented on #43
Works like a charm! Good to know that I need to handle that manually, thanks a lot :)

[2016-07-28 15:21] #43 closed

[2016-08-03 09:25] Vasilich opened #44 "Fails to EndUpdateResource on some files"
When trying to change some parts of VersionResource (e.g. ProductVersion ), the function EndUpdateResource returns not null, and GetLastWin32Error returns 13 ERROR_INVALID_DATA.
Example of file (compiled in Delphi 2006, x32 native for Windows) is here https://cloud.bfe.tv/index.php/s/rJ3H3HvUGTaKLV7
I myself cannot figure out why this happens.

[2016-08-03 09:29] Vasilich commented on #44
The code i use:
`using System;
using System.IO;
using System.Linq;
using Vestris.ResourceLib; // https://github.com/dblock/resourcelib

namespace SetVer
{
	class Program
	{
		const string ResNameStringFileInfo = "StringFileInfo";

		static int Main (string[] args)
		{
			if (args.Length < 2) {
				Console.WriteLine("Set ProductVersion string of VersionInfo resource in file to given value.");
				C

[2016-08-03 11:35] GerRudi opened #45 "No way to properly create a new Accelerator?"
Please correct me if I'm wrong, but for me it looks like you can't properly create a new Accelerator and add it to an AcceleratorResource?

I can create a new Accelerator with
`Accelerator acc = new Accelerator();`

I can then add the command as an integer to it
`acc.Command = 20035;`

And that's it - I can't do anything else.
This means I can't even assign a key because the Accelerator.Key functi

[2016-08-03 12:38] dblock commented on #45
It does look like something that just wasn't implemented, please feel free to contribute.

[2016-08-04 00:24] GerRudi commented on #45
Made a pull request with the new methods. :)

[2016-08-22 15:37] CreateAndInject opened #47 "Why ResourceInfo.Save is NotImplementedException?"
Why ResourceInfo.Save is NotImplementedException?

[2016-08-22 17:40] dblock commented on #47
Because it wasn't implemented. Please contribute.

[2016-08-26 14:12] CreateAndInject opened #48 "IconDirectoryResource.SaveTo has bugs with some .ico file."
[code]

attach file 0.zip contains a 0.ico
If ReplaceIcon with 0.ico, the target exe will lose icon.
But if I compile a exe with 0.ico by visual studio,it's ok ,so 0.ico is format well.
So, bug?

[0.zip](https://github.com/dblock/resourcelib/files/439457/0.zip)

[2016-08-26 14:48] dblock commented on #48
Looks like something is fishy, I would dump and compare all icon resources before/after for all languages.

[2016-08-28 04:50] CreateAndInject commented on #48
Do you know why?

[2016-08-28 13:53] dblock commented on #48
Sorry, don't have time to debug it. But happy to help if you make some progress.

[2016-09-01 02:40] CreateAndInject commented on #48
I find some other .ico files have the same problem, these .ico files all have large size.

[2016-09-08 03:01] CreateAndInject commented on #48
any news?

[2016-09-08 22:39] dblock commented on #48
@CreateAndInject Did you find a bug and submit a fix? Nobody is working on this.

[2016-10-20 13:41] HassanNiazi opened #49 "Cant get string resources"
Cannot get string resources which are located in the resource files. Only resources returned are the Manifest and Version. If we use the RT_String for getting specifically string resources we get no matching key in the dictionary.

[2016-10-20 15:44] dblock commented on #49
You should be able to debug this or at least post something with a repro here (test + binary).

[2016-10-20 15:58] HassanNiazi commented on #49
Sure will get back with it.

[2016-10-21 06:27] HassanNiazi commented on #49
Hi,
Following is the code and the response. I am also uploading the projects repos and will send link in comments.

 `
   using (ResourceInfo ri = new ResourceInfo())
            {
                ri.Load(filename);

              // I get following error at the  ri[Kernel32.ResourceTypes.RT_STRING] because there is no
              // String resources extracted from the executable.

[2016-10-21 07:07] HassanNiazi commented on #49
Hi Following are the links to the sample repos.

Project with the Resource file which we aim to extract.
https://github.com/HassanNiazi/ResourceLibSampleDataProject

Project with the ResourceLib code which should extract the resource file
https://github.com/HassanNiazi/ResourceLibSampleDataExtractionProject

[2016-10-21 15:40] dblock commented on #49
Thanks. Just to set expectations I haven't done much windows development for a long time, so I am not going to be debugging this. I am happy to help with any advice though ;)

[2016-10-21 19:47] thoemmi commented on #49
@HassanNiazi The `ConsoleApplication2` in the `ResourceLibSampleDataProject` repository doesn't contain any **Win32 resources** but **embedded .NET resources.** `resourcelib`'s scope is Win32 resources however.

For accessing embedded resources I recommend to use .NET's [ResourceManager](https://msdn.microsoft.com/en-us/library/system.resources.resourcemanager(v=vs.110).aspx).

[2016-10-21 19:47] #49 closed

[2016-10-21 20:30] dblock commented on #49
Thanks for checking it out @thoemmi!

[2016-10-24 09:59] HassanNiazi commented on #49
Thanks @thoemmi  :)

[2016-11-29 08:50] clopezfreedom commented on #48
I had exactly the same bug and found that the problem was that the icon resource indices inside the executable are 1-based instead of 0-based. The following change in IconDirectoryResource.cs solved this issue for me:

        /// <summary>
        /// A new collection of icons that can be embedded into an executable file.
        /// </summary>
        public IconDirectoryResource(IconFile iconFi

[2016-11-30 14:07] dblock commented on #48
Interesting @clopezfreedom. I don't think that's per spec, but maybe you can dig this up, write a test and a fix?

[2016-12-06 10:35] CreateAndInject commented on #48
@clopezfreedom  Nice! Resolve my problem!

[2016-12-06 14:32] dblock commented on #48
@CreateAndInject Maybe you want to save the next person the trouble, please see ^^^, lets have a test + fix here?

[2017-04-19 08:10] jairbubbles opened #50 "Pb with NuGet version number"
Version number in nuspec is 1.5.328.0 which does not match [semantic versioning](http://semver.org/). When you browse on nuget.org the .nupgk that you can download is now `Vestris.ResourceLib.1.5.328.nupkg`, I believe it used to be `Vestris.ResourceLib.1.5.328.0.nupkg` as I noticed on some old computer's nuget cache.

My issue is that when you install the package it still put it in 1.5.328.0 folde

[2017-04-19 11:41] dblock commented on #50
cc: @thoemmi

[2017-04-19 11:52] thoemmi commented on #50
I'll have a look tonight.

[2017-04-19 20:45] thoemmi commented on #50
Indeed, NuGet does not support the old versioning schema like *major.minor.patch.release* anymore. Instead, [semantic versioning](https://docs.microsoft.com/en-us/nuget/create-packages/prerelease-packages#semantic-versioning) is required.

I suggest that I publish a 1.6.0 release, which will contain the unreleased fixes for #40 and #41 as well.

BTW, I'd like to update the projects and the build f

[2017-04-19 22:20] dblock commented on #50
I haven't written a line of code here so this is all yours!

Lets move this into an org and make you an admin of it @thoemmi so you can add new contributors?

[2017-04-20 18:37] thoemmi commented on #50
Sounds about right. Ok, transfer this repository to an org.

[2017-04-21 20:59] dblock commented on #50
Moved. If someone could fix up links, CI and such that'd be great. For now things redirect of course.

[2017-04-21 21:32] thoemmi commented on #50
I am going to update the links and prepare und publish a 1.6 release.

Later I'll migrate the source to use VS2017 and set up a new CI pipeline.

[2017-04-21 22:13] thoemmi commented on #50
@jairbubbles I just published version 1.6.422, which should be compliant with semantic versioning.

[2017-04-21 22:13] #50 closed

[2017-04-23 07:07] jairbubbles commented on #50
@thoemmi Awesome! Thx a lot

[2017-05-02 11:35] Fergusson opened #51 "VersionResource containing two different languages get corrupted on SaveTo"
I have a version resource from this script:

[code]
The simple sequence:
[code]
corrupts the resources. When looking at them in VS you can see the strings tables are gone.
If you remove the second block (the french one) everything works fine.

I'm using 1.6.422

[2017-06-13 05:58] xplicit commented on #19
Is there a chance this issue will be fixed? Currently there is no way to change resources on resulting self-extracting archives with this library. ResourceHacker does it with no problems.

[2017-06-13 15:51] dblock commented on #19
Please contribute.

[2017-06-14 07:55] xplicit commented on #19
I can contribute with testing the fix if it be done.

[2017-07-14 16:01] laifharwood opened #52 "Change existing exe File Description and Product Name"
Is it possible to change the File Description and Product Name with this library?  There is a snippet of code in the Version section that looks like it might be possible but it's unclear and I haven't been able to get it to work if it is possible.

[2017-07-14 16:19] dblock commented on #52
Yes, there's a complete example at the bottom of https://github.com/resourcelib/resourcelib/blob/17461f2dd23f064b47780e0168a6da79e894da4f/Docs/Version.md.

[2017-07-14 16:19] #52 closed

[2017-07-14 18:47] laifharwood commented on #52
@dblock The code below, which is nearly identical to the example you mentioned, runs without error but doesn't appear to have any affect on the properties of the exe so I don't know if I'm missing something or what. Any help or direction you can provide would be greatly appreciated. If you need any more information let me know. Thanks!

			string filename = "C:/Users/lharwood/Desktop/ProModel.exe"

[2017-07-15 13:22] thoemmi commented on #52
@laifharwood what you're doing in your code is **adding** a **new** version resource to your executable. I guess the executable already has a version resource embedded, so it ends up having two. Windows Explorer will still show the first one.

What you have to do is to update the existing version resource:

[code]

[2017-07-17 15:05] laifharwood commented on #52
@thoemmi That worked! Thank you for your help!

[2017-07-18 16:26] theLastOfCats opened #53 "Overflow exception while parsing RT_DIALOG"
* Most of time it happens, when I try to extract Resource from RT_DIALOG with **many fields (>15)** and **NOT** in DIALOGEX format
* If I RT_DIALOG format from DIALOG to DIALOGEX using Resource Hacker, parsing finish successfully
* Maybe related to #10

[2017-07-18 16:45] dblock commented on #53
Next step is to find an executable that shows this problem and reproduce it as a test in a pull request.

[2017-07-18 16:46] dblock commented on #51
A unit test repro of this would be helpful.

[2017-07-20 11:33] theLastOfCats commented on #53
Bug produce when I set x64 build. Any PC and x86 not affected.

[2017-07-20 11:41] theLastOfCats commented on #53
Cannot reproduce bug, will close.

[2017-07-20 11:41] #53 closed

[2017-07-20 13:56] dblock commented on #53
x64 would still point to a real problem, maybe you want to dig a bit deeper?

[2017-08-26 03:13] liu264 opened #54 "VersionResource can't save to same file after loading from it"
get error “system.componentmodel.win32exception access is denied” when save to same file it loaded from.
![default](https://user-images.githubusercontent.com/24662144/29738206-b3b292f8-8a4f-11e7-8adb-bc822d7bc8bc.png)

[2017-08-26 03:47] liu264 opened #55 "Version update bug"
When changing version number, the file version is properly updated, but the product version's not
![default](https://user-images.githubusercontent.com/24662144/29738386-d0bc9d72-8a53-11e7-973f-b27ee6a63efd.png)
Even though when reading back from the file the product version is changed indeed. Perhaps product version read and wrote the same element as file version.
![default](https://user-images.gi

[2017-08-26 16:19] dblock commented on #54
Do you have permission to read, but not write the file? Maybe it's in use by another program?

[2017-08-26 16:21] dblock commented on #55
You're most likely seeing ProductVersion from the string info and not from this value, check out the details in https://github.com/resourcelib/resourcelib/blob/17461f2dd23f064b47780e0168a6da79e894da4f/Docs/Version.md, there're two product version fields.

[2017-08-26 16:28] liu264 commented on #54
Permission is good. I am bypassing this issue by creating a copy, read from copy, and write back to the original file.

[2017-08-26 16:32] liu264 commented on #55
Thanks, I think I tried the stringFileInfoStrings as well, but can't be sure (it's been a long day). I will try again on Monday.

[2017-08-26 16:38] dblock commented on #54
Does it work without the first two lines? I think your file is simply still open and you need to close it.

[2017-08-26 16:44] liu264 commented on #54
It threw mix-language exception so I need to provide that info. I guess I can hard code it for now, but still. Is ResourceInfo disposable?

[2017-08-26 20:19] dblock commented on #54
Yep, https://github.com/resourcelib/resourcelib/blob/master/Source/ResourceLib/ResourceInfo.cs#L13.

[2017-08-26 20:20] dblock commented on #54
Do confirm please whether that's the problem, we don't want to be leaking handles in `LoadFrom` and `SaveTo`.

[2017-08-28 01:04] liu264 commented on #54
yap, disposing ResourceInfo works, thanks

[2017-08-28 01:04] #54 closed

[2017-08-28 01:16] liu264 commented on #55
Thanks it works, partially, changing the StringFileInfo solved that ProductVersion issue for my exe, but for my dll neither one of the version numbers are changed still. Does dll file have a different data structure?

[2017-08-28 03:09] liu264 commented on #55
Thanks that works! and I had to restore the dll file to make that work for it. Propably something I did before with this program that changed some data within to it unchangable before.

[2017-08-28 03:09] #55 closed

[2017-10-03 09:25] jairbubbles commented on #48
Experiencing the same issue here. After resaving the .exe in Visual Studio we do see the indexes are modified:
![image](https://user-images.githubusercontent.com/15875066/31118396-90a33492-a82d-11e7-9e50-e2057363eeb9.png)

[2017-10-03 09:29] jairbubbles commented on #48
I'm patching the icon after loading and it now works perfectly:
[code]

Would be great to make the fix on the NuGet package!

[2017-10-03 12:18] dblock commented on #48
@jairbubbles Can you please pull request a failing test and a code fix?

[2017-10-06 15:20] #48 closed

[2017-12-06 13:18] rolix7 commented on #19
@Fergusson Can you please describe your solution a little bit further? My bootstrapper is about 800 MB. If I extract the engine of my bundle by Insignia, I get a 70 MB file. When I modify the version resource of the engine, my file still shrinks to about 800 Kb.

[2017-12-06 13:47] uholeschak commented on #19
Basically it's possible but it's a lot of work.
Check the wix tools source how to extract and insert the additional data.

[2017-12-06 14:42] thoemmi commented on #19
As @Fergusson wrote above it's not an issue of ResourceLib.

If some can provide a repro, we might re-open this issue.

[2017-12-06 14:42] #19 closed

[2017-12-07 15:49] dblock commented on #19
I do think it's a bug, in theory resourcelib should never "destroy" anything, no?

[2017-12-07 16:10] thoemmi commented on #19
@dblock it *might* be a bug of resourcelib, but @nadcraker mentioned the same issue occurs even when using another library. A repro is required to investigate the origin of the "destruction".

[2017-12-07 22:32] rolix7 commented on #19
Resource Hacker is able to do it on my wix bundle.

[2017-12-08 10:23] thoemmi commented on #19
@rolix7 can you provide us with a small (i.e. &#x226A; 800 MB) binary for reproduction?

[2017-12-09 09:52] rolix7 commented on #19
Yes, for sure. Where can I upload it?

[2017-12-09 15:15] dblock commented on #19
Please make a pull request with ideally a failing test, or just the binary in your fork.

[2017-12-10 15:40] rolix7 commented on #19
I'm pretty new to github, so I hope I did nothing wrong.

[2017-12-10 18:45] thoemmi commented on #19
Thanks @rolix7 , I could reproduce your issue with your pull request. However, it looks to me as its not resourcelib's fault. Before and after patching I was able to tread the resources with [Resource Hacker](http://www.angusj.com/resourcehacker/), and everything looks ok. Maybe WiX creates non-standard PE files, which get corrupt when using Windows' API to modify resources.

Nevertheless I'll con

[2017-12-11 06:51] Vasilich commented on #19
the threadstarter haven't said  that he has problems with resources - i assume there are some PE sections that get lost after saving resource and reassembling PE Header.

[2017-12-11 07:38] rolix7 commented on #19
[Here's](https://github.com/wixtoolset/wix3/blob/master/src/tools/wix/BurnCommon.cs) the source code of WiX which is responsible for writing/reading the PE Header. Perhaps it's useful for some of you experts.

[2017-12-11 23:21] thoemmi commented on #19
@rolix7 Thanks for the pointer to WiX's source code.
I further investigated the issue using [`dumpbin`](https://msdn.microsoft.com/de-de/library/756as972.aspx) and reading the [PE format specification](https://msdn.microsoft.com/en-us/library/windows/desktop/ms680547(v=vs.85).aspx#section_table__section_headers_).

**TL;DR:** to me it looks like WiX is doing it wrong

According to the output of `d

[2017-12-13 17:44] rolix7 commented on #19
@thoemmi Thanks for your great research! It really seems like it's a problem of WiX rather than resourcelib.

Nevertheless it would be interesting, how ResourceHacker is doing that job correctly.

[2017-12-14 12:32] thoemmi commented on #19
I can only guess that Resource Hacker doesn't use the Win32 API for handling resources but manipulates the binary directly.

Can your PR #60 be closed?

[2017-12-14 14:15] rolix7 commented on #19
Yes, should I do it? As I said, i'm pretty new to github and I don't know the conventions yet.

[2018-01-11 08:24] MarkoKaiser opened #61 "Need library depending on framework runtime v4.0"
For a future development process I need the library depend on .NET framework runtime v4.0 instead of v2.0.

[2018-01-11 13:10] thoemmi commented on #61
Please try the newest pre-release [2.0.0-ci0018](https://www.nuget.org/packages/Vestris.ResourceLib/2.0.0-ci0018). It supports .NET Frameworks 2.0, 3.5, 4.0, and 4.5 and .NET Standard 2.0.
 We'll publish a final release as soon as *System.Drawing.Common* is made final (required to support .NET Standard 2.0).

[2018-01-12 10:42] MarkoKaiser commented on #61
Ok thank you that pre-release works :)

[2018-01-14 05:20] icnocop opened #62 "ResourceLib 2.0 beta is no longer signed with a strong name key file"
Hi.

I updated from ResourceLib 1.6.422.0 to 2.0.0-ci0018 and noticed ResourceLib.dll is no longer a strongly-named assembly.

I reference ResourceLib in a project targeting .net 4.0 which is strongly named and so it requires all referenced assemblies to also be strongly-named.

Otherwise, I get the following exception:

I noticed commit https://github.com/resourcelib/resourcelib/commit/949fa6cbe9

[2018-01-14 18:46] thoemmi commented on #62
Hey, it's 2018... still relying on strong-naming?

Microsoft [writes about strong-naming](https://github.com/dotnet/corefx/blob/c02d33b18398199f6acc17d375dab154e9a1df66/Documentation/project-docs/strong-name-signing.md#faq):

There is an [interesting thread about the pros and cons of SN](https://github.com/Microsoft/XamlBehaviors/pull/29?w=1#issuecomment-162572491) in the **Microsoft/XamlBehaviors

[2018-01-14 18:53] icnocop commented on #62
Thank you for the detailed response, Thomas!

Should we add something to the change log?

[2018-01-14 19:02] thoemmi commented on #62
Yes, thanks for the hint. I'm going to update the change log.

[2018-01-14 19:02] #62 closed

[2018-01-14 19:23] thoemmi opened #63 "Waiting for final System.Drawing.Common release"
**System.Drawing.Common** is required to target .NET Standard 2.0. Currently [there's](https://www.nuget.org/packages/System.Drawing.Common/) only a preview available. As soon as the final package is published (ETA Q1/2018), we can update the reference and release 2.0 of resourcelib.

[2018-01-30 05:58] xjfnet opened #64 "read bitmap from explorer.exe but get a bad image"
the top half of the bitmap is black, the bottom half is ok.

[2018-01-30 16:21] dblock commented on #64
Sounds like a 32/64 bit problem. Try to build a repro test in this repo.

[2018-04-17 09:16] SilkageNet opened #65 "The problem of saving Icon"
[code]

The height of ‘1.ico’ is two times as high as normal.
If the resource icon is partially transparent, the transparent part after storage becomes black.
Excuse me, what's the solution?

[2018-04-17 12:11] dblock commented on #65
Looks like a bug, please feel free to debug and PR a fix.

[2018-04-17 13:30] SilkageNet commented on #65
Is there any other way to save IconDirectoryResource as *.icon file?

[2018-05-05 15:10] #38 closed

[2018-05-05 15:12] dblock opened #67 "Release v. Next"
Maybe @hakito can do the next release? @thoemmi and I can help

We could use a RELEASING like [this one](https://github.com/dblock/iex-ruby-client/blob/master/RELEASING.md).

[2018-05-05 21:54] thoemmi commented on #67
I've added this issue to the v2.0 milestone.

Because vNext will provide support for .NET Standard, we're depending on **System.Drawing.Common**, which is available as a preview only at the moment. I expect the final release next week during Microsoft's Build conference.
It's filed as #63

[2018-05-05 21:54] #61 closed

[2018-05-06 08:05] hakito commented on #67
Did you have time to look at PR #68? I wanted to discuss it first before pushing it to the main repo. At least 292dc2384c55d66eaf9ad5d8049dd947be74fcc0 should get into the release.

[2018-05-06 08:35] hakito commented on #67
@dblock What exactly do you mean with

It seems https://github.com/resourcelib/resourcelib/blob/master/appveyor.yml already creates and publishes the .nupkg it seems. It could also create a github pre-release.

I have a question regarding the version number: We are going from 1.6 to 2.0 - are there really breaking changes?

[2018-05-06 11:06] thoemmi commented on #67
That's right. A couple of month ago I created an AppVeyor configuration which publishes each build from the master branch to NuGet.
Additionally, the build process uses [GitVersion](https://gitversion.readthedocs.io/en/latest/) to generate semantic version numbers.

I've re-written the project files to use the new MSBuild SDK format. Also we're now supporting .NET Standard 2.0. Though there'no API

[2018-05-06 14:17] dblock commented on #67
Since I co-maintain a lot of different projects I always wonder "how do I release this thing". So even if RELEASING says there's nothing to do, it's good to have.

[2018-05-06 16:50] thoemmi commented on #67
Ok, I'll create a RELEASING file.

[2018-05-07 05:47] hakito commented on #67
I can then try to do the release according to it.

[2018-05-30 12:46] #63 closed

[2018-08-18 20:01] dblock commented on #67
From https://github.com/resourcelib/resourcelib/pull/71#issuecomment-414077918 too

[2018-08-21 07:17] hakito commented on #67
Please check the PR #72 and I'll release it today.

[2018-08-21 09:50] hakito commented on #67
It seems the AppVeyor build failed for the tag build. What did I wrong?

[2018-08-21 20:29] thoemmi commented on #67
@hakito GitVersion was confused because the `v2.0` tag was not in the `master` branch.
I deleted that tag and tagged the most recent commit in the master branch. v2.0 is released by now.

I updated the RELEASING.md that the version tag must be added to a commit in the `master` branch. I also made preparations for the next version (v2.1 presumably).

[2018-08-21 20:29] #67 closed

[2019-01-14 08:52] jairbubbles opened #73 "Assembly name changed in version 2.0.0"
![image](https://user-images.githubusercontent.com/15875066/51103069-b0097100-17e1-11e9-920d-7833444d1d50.png)

I don't know if it's intended but in our case we have issues with that with a custom NuGet resolver / pugin system.

Anyway I feel like it would be more "normal" to keep the previous name which has the good taste to be the name of the NuGet package.

[2019-01-14 12:03] #73 closed

[2019-02-12 15:19] jairbubbles commented on #73
@thoemmi Can you publish as 2.0.1? I checked `Vestris.resourcelib.2.1.0-beta0005.nupkg` and the content was ok.

[2019-02-12 17:16] thoemmi commented on #73
It's now published as [2.1](https://www.nuget.org/packages/Vestris.ResourceLib/2.1.0).

[2019-02-12 17:16] thoemmi commented on #73
(Actually, it should be 3.0, because it's a breaking change. But I guess we can agree on 2.1)

[2019-03-22 15:04] Ambraham1544 opened #75 "How to Load RCData and Saveto?"
i'd like to know about load & save

[2019-03-22 16:04] dblock commented on #75
As far as I can see or remember `RT_RCDATA` is not implemented. Please contribute.

[2019-05-17 03:02] gitgitwhat opened #76 "Couple of bugs..."
Love the library but there are issues.

Run this against notepad.exe and try to list all resources.  It fails because it has a non-standard resource (MUI).

Then try to update notepad's icon.  Again it fails because the group icon starts at 2 whereas the initial FindResource is called with an Id of 1.

The first issue can be fixed easily but I'm having trouble with the second.  Any thoughts?

[2019-05-17 09:34] dblock commented on #76
This is one odd notepad.

Please split up these issues here with details. PR a repro/test/fix as you can, please.

- There should be no problem with MUI AFAIK, it would return a generic resource.
- There should be no issue with enumerating icons via `rc.icons`.

[2019-09-24 15:50] rjones0604 opened #78 "Saving to EXE can Truncate File"
I have an EXE that was originally node.exe but some process that I have control over appends a pkg to the end of the exe file.  When I try to modify the version info in this file, the save operation always truncates that trailing pkg data, rendering the file useless.  If you think you need the exe file for testing, I can try to get permission from my company to upload it, as it contains company pr

[2019-09-24 16:51] thoemmi commented on #78
Do you just append the pkg to the end of the executable? A similar issue was reported some time ago, see #19 .
**tl;dr:** simply adding bytes to an executable makes it nonconformant to the PE file format. One possible solution is to add a `.data` section to the executable.

[2020-06-24 22:57] M4jx opened #80 "Updates doesn't display in binary properties."
I'm trying to change the assembly info (File version, description ..etc) in my exe file.
I'm writing and updating the info using the code provided in the documentation [(RT_VERSION)#writing-version-information](https://github.com/resourcelib/resourcelib/wiki/Version-(RT_VERSION)#writing-version-information)
and then reading the info again to make sure the info has been changed using this code [(RT

[2020-06-25 12:36] M4jx commented on #80
The binary I'm editing is built through VS with Neutral Language : (None) in its' properties.
When I right click on the final binary and look at its' details, it shows (Language : Language Neutral).
I tried to rebuild the binary in VS with Neutral Language : English (United States) but it stays unchanged in the details tab (still shows "Neutral Language").
Is it possible to modify the assembly inf

[2020-06-25 21:44] M4jx commented on #80
As you said, it's a language problem. Here is the solution for this problem after reading the documentation in resourcelibdotnet.html file.

	string filename = "test.exe"; // Exe name

	VersionResource versionResource = new VersionResource();

	versionResource.LoadFrom(filename);

	StringFileInfo stringFileInfo = (StringFileInfo)versionResource["StringFileInfo"];

	versionResource.FileVersion = "1

[2020-06-25 21:44] #80 closed

[2021-02-01 16:32] LassazVegaz commented on #75
It would be nice if you can add this feature too

[2022-09-06 12:35] Tivium1 opened #81 "Replacing resources"
Is there any way to replace the resource?

[2022-09-06 13:46] dblock commented on #81
Yes, load your resource(s) and use `SaveTo` to write them.

[2022-09-06 13:46] #81 closed